* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #131418;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 15em;
    margin-top: 1.5em;
}
.ham {
    margin: 0 1.5em;
    margin-bottom: 0.5em; 
}
.search-container {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.search {
    margin-top: 2em;
    margin-right: auto;
    margin-left: 10em;
    width: 40em;
    height: 3em;
    border-radius: 25px;
    outline: none;
    border: 1px solid ;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0%;
    
    &::placeholder {
        padding: 2em;
    }
}
button[type="submit"] {
    width: 7em;
    height: 3em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-top: 2em;
    border: 1px solid;
    border-left: 0;
    cursor: pointer;

}
button.mic {
    margin-left: 1em;
    margin-top: 2em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: black;
}
button.user-account {
    border-radius: 45%;
    
}
.last-div {
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    align-items: center;
    margin-top: 1.5em;
    gap: 0.9em;
    svg.flex-child.new-vid {
        width: 4em;
        height: 4em;
        background-color: #131418;
    }
    svg.flex-child.notify {
        width: 4em;
        height: 4em;
        background-color: #131418;
    }
    svg.flex-child {
        display: block;
        width: 20px;
        height: 20px;
        
    }
    button.flex-child.user-account {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        
    }
}
main {
    iframe.main-video {
        display: block;
        margin: 2em auto;
    }
    h1 {
        color: #f0f0f0;
        text-align: center;
    }
    button.user-account {
        width: 4em;
        height: 4em;
        border: none;
        outline: none;
    }
}
section.subscribe {
    display: flex;
    .flex-container {
        display: flex;
        gap:0 40px;
        width: 75%;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10em;
        padding: 2em 0;
        .name-div {
            color: #f0f0f0;
            h3 {
                width: 6.8em ;
            }
        }
        .button-container {
            button.subscribe-btn {
                width: 9em;
                border-radius: 30px;
                padding: 15px 30px;
                font-weight: bolder;
                border: none;
                outline: none;
                &:hover {
                    background-color: #ff0000;
                    color: white;
                    outline: none;
                    border: none;
                    transform: translateY(15%);
                }
                &:active {
                    background-color: white;
                    color: #ff0000;
                }
            }
        }
        .right-btn {
            display: flex;
            gap: 20px;
            margin-left: auto;

            button {
                padding: 1em 2em;
                border-radius: 2em;
                outline: none;
                border: none;
            }
        }
    }
}